* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body {
  font-family: "Montserrat", sans-serif;
  font-family: "Poppins", sans-serif;
  background-color: #87878b;
}

.msg {
  display: none;
  position: absolute;
  right: 0;
  left: 0;
  margin: auto;
  margin-top: 20px;
  width: 300px;
  padding: 10px 80px;
  border-radius: 15px;
  text-align: center;
  color: #fff;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  padding: 0 40px;
  max-width: 600px;
  margin: auto;
}

.card {
  width: 600px;
  background-color: #fff;
  box-shadow: 0 3px 10px rgba(243, 239, 239, 0.2);
  padding: 0;
  margin: 0;
}

.card-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 15px;
  background-color: #f3f2f2;
  color: #454545;
}

.card-header i {
  color: #565555;
  cursor: pointer;
}

.card-body {
  height: 100%;
  border-bottom: 1px solid #ccc;
  max-height: 500px;
  overflow: auto;
}

.card-body .form-field {
  padding: 15px 15px;
  border-bottom: 1px solid #ccc;
}

.card-body .form-field i {
  color: #171723;
}

.form {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.form input {
  width: 100%;
  font-size: 16px;
  font-style: italic;
  border: none;
  padding: 15px;
}

.form .desc {
  width: 100%;
  font-size: 16px;
  font-style: italic;
  border: none;
  background: transparent;
}

.form .desc:focus {
  outline: none;
}

.ul .edit:focus {
  outline: none;
}

.form input:focus {
  outline: none;
}

ul {
  list-style-type: none;
}

ul li {
  padding: 15px 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}

ul li div {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  height: 100%;
}

li.dragging {
  background-color: rgba(244, 233, 223, 0.5);
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
  padding: 15px 15px;
  background: #d2d3d2;
}

.form .fa {
  color: #b5b7b5;
  font-size: 10px;
  cursor: pointer;
  margin-right: 10px;
}

button {
  font-family: "Poppins", sans-serif;
  display: inline-block;
  font-size: 18px;
  font-weight: 300;
  cursor: pointer;
  border: none;
  background: none;
  margin: auto;
  color: #848484;
}

button:active {
  transform: scale(0.9);
}
